[Unit]
Description=IDP IELTS Uzbekistan Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/idp_ielts_bot
ExecStart=/root/idp_ielts_bot/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
